*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background: black;
  color: whitesmoke;

}
main{
  width:80%;
  margin:auto;
}

section{
  width:100%;
}
button{
  margin: 20px 0;
}
.food, .drinks{
  width: 300px;
  height: auto;
  min-height: 300px;
  margin:20px;
}
label{
  font-size: 30px;
}
select{
  font-size: 20px;
  margin-right: 100px;
}
.heading{
  text-align: center;
  font-size: 80px;
}

.widget{
  width: 100%;
  margin: 30px auto;
}
fieldset {
    border: 0;
    }
label {
  display: inline-block;
  margin: 30px 0 0 0;
}
.overflow {
  height: 200px;
}
